<% if current_user %>
<% else %>
  <div class="center jumbotron">
    <h2>Welcome to My Book!</h2>
    <p class="motto">
      You'll love managing your friends with this application. 
    </p>
    </br>
      <%= link_to "Sign up now", new_user_registration_path, class: "btn btn-primary btn-xlarge" %>
  </div>
<% end %>






    
